<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SimpleBank Suite" verbose="1" parallel="false">
  <test name="All Tests">
    <classes>
      <class name="com.simplebank.unit.UserServiceTest"/>
      <class name="com.simplebank.api.UserControllerApiTest"/>
    </classes>
  </test>
</suite>
